<template>
    <div>
        <v-divider
                v-if="message.divider"
                :inset="message.inset"
        ></v-divider>

        <v-list-tile
                v-else
                :key="message.title"
                avatar
                @click="openDialog"
        >
            <v-list-tile-avatar>
                <img :src="message.avatar">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title v-html="message.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="message.subtitle"></v-list-tile-sub-title>
            </v-list-tile-content>
        </v-list-tile>
    </div>
</template>

<script>
    export default {
        name: "MessagePreview",
        props: {
            message: Object
        },

        methods: {
            openDialog() {
                this.$router.push({path: "/messages", query: {id: this.message.id}});
            }
        }
    };
</script>

<style scoped>

</style>
