<template>
    <v-card light>
            <v-text-field
                    color="primary"
                    flat
                    label="Search"
                    prepend-inner-icon="search"
                    solo-inverted
            ></v-text-field>
            <v-list two-line>
                <MessagePreview
                        v-for="message in messages"
                        :message="message"
                />
            </v-list>
    </v-card>
</template>

<script>
    import MessagePreview from "./MessagePreview";

    export default {
        name: "MessagePreviewContainer",
        components: {MessagePreview},
        props: {
            messages: Array
        }
    };
</script>

<style scoped>

</style>
