<template>
    <v-container>
        <v-layout row>
            <v-flex>
                <v-avatar  size="40px">
                    <img
                            src="https://sun7-7.userapi.com/c844618/v844618730/20818d/ly0e3Kwiwj8.jpg?ava=1"
                            :alt="message.member.username"
                    >
                </v-avatar>
            </v-flex>
            <v-flex grow ml-2>
                <v-layout column>
                    <v-flex>
                        <span class="font-weight-bold ">{{message.member.username}} </span>
                    </v-flex>
                    <v-flex>
                        {{message.text}}
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Message",
        props: {
            message: Object
        }
    };
</script>
