<template>
    <v-container>
        <v-layout row >
            <v-flex class="xs12 mr-3" v-for="feature in features" :key="feature.title">
                <v-card>
                    <v-card-text>
                        <div class="display-2 text-sm-center">
                            {{feature.title}}
                        </div>
                        <div>
                            {{feature.feature}}
                        </div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "FeatureContainer",
        data: () => {
            return {
                features: [
                    {
                        title: "Text1",
                        feature: "Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательностьсимволов."
                    },
                    {
                        title: "Text2",
                        feature: "Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательностьсимволов."
                    },
                    {
                        title: "Text3",
                        feature: "Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательностьсимволов."
                    },
                ]
            };
        }
    };
</script>

<style scoped>

</style>
