<template>
    <v-app>
        <NavigationBar/>
        <ParallaxContainer/>
        <FeatureContainer/>
        <Footer/>
    </v-app>
</template>

<script>
    import NavigationBar from "./NavigationBar";
    import Footer from "./Footer";
    import ParallaxContainer from "./ParallaxContainer";
    import FeatureContainer from "./FeatureContainer";
    export default {
        name: "Home",
        components: {FeatureContainer, ParallaxContainer, Footer, NavigationBar}
    }
</script>

<style scoped>

</style>
