<template>
    <v-app>
        <vue-headful :title="account.username"/>
        <v-container>
            <div>
                <ul>
                    <li>Username: {{account.username}}</li>
                </ul>
                <v-btn primary outline @submit="logout()">
                    Logout
                </v-btn>
            </div>
            <v-card>
                <v-divider></v-divider>

                <v-card-text>
                    <v-container
                            style="max-height: 700px"
                            class="scroll-y white"
                            id="scroll-target"
                    >
                        <v-layout
                                v-scroll
                                column
                                align-start
                                justify-end
                        >
                            <v-flex v-for="message in messages">
                                <Message :message="message"/>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-text-field
                            v-model="message"
                            label="Write message..."
                            single-line
                            outline
                    ></v-text-field>
                    <v-btn class="mx-2 mb-4" fab dark small color="primary" @click="sendMessage(message)">
                        <v-icon dark>fas fa-paper-plane</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
    import Message from "../messages/Message";
    import axios from '../../api/axios.config'

    const api = axios.create({
        baseURL: 'http://localhost:9000',
        headers: {
            'Content-Type': 'application/json',
        }
    });

    api.interceptors.request.use(
        config => {
            const accessToken = localStorage.getItem('access_token');

            if (accessToken) {
                config.headers.authorization = accessToken;
            }
            return config;
        }, error => error
    );

    export default {
        name: "Profile",
        components: {Message},
        data() {
            return {
                message: ''
            }
        },

        computed: {
            account() {
                return this.$store.state.account.account
            },
            messages() {
                return this.$store.state.account.messages
            }
        },

        mounted() {
            this.fetchAccount();
            this.fetchAllMessages();
            this.fetchNewMessages();
        },

        methods: {
            fetchAccount() {
                this.$store.dispatch('fetchMyAccount');
            },
            fetchAllMessages() {
                this.$store.dispatch('fetchMessages');
            },
            fetchNewMessages() {
                api.get("/messages/new")
                    .then(response => {
                    if (response.status === 200) {
                        this.fetchNewMessages();
                        this.$store.commit('addMessages', response.data);
                    }
                })
            },
            sendMessage(message) {
                this.$store.dispatch("sendMessage", message);
            },

            logout() {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/signIn');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
