<template>
    <v-container>
        <v-layout row justify-start>
            <v-flex>
                <v-avatar size="40px">
                    <img :src="message.member.avatarUrl" :alt="message.member.username">
                </v-avatar>
            </v-flex>
            <v-flex     ml-2>
                <v-layout column>
                    <v-flex>
                        <span class="font-weight-bold ">{{message.member.username}} </span>
                    </v-flex>
                    <v-flex>
                        {{message.text}}
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Message",
        props: {
            message: Object
        }
    };
</script>
