<template>
    <v-app>
        <vue-headful :title="account.username"/>
        <v-container>
            <div>
                <ul>
                    <li>Username: {{account.username}}</li>
                </ul>

                <v-btn primary outline @click="logout()">
                    Logout
                </v-btn>
            </div>
            <v-card>
                <v-divider></v-divider>

                <v-card-text>
                    <v-container
                            style="max-height: 700px"
                            class="scroll-y white"
                    >
                        <v-layout
                                v-scroll
                                column
                                align-start
                                justify-end
                        >
                            <v-flex>
                                <div v-for="message in messages">
                                    <Message :message="message"/>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-text-field
                            v-model="message"
                            label="Write message..."
                            single-line
                            outline
                    ></v-text-field>
                    <v-btn class="mx-2" fab dark small color="primary" @click="sendMessage()">
                        <v-icon dark>fas fa-paper-plane</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
    import Message from "../messages/Message";

    export default {
        name: "Profile",
        components: {Message},
        data() {
            return {
                message: '',
            }
        },

        computed: {
            account() {
                return this.$store.state.account.account
            },
            messages() {
                return this.$store.state.account.messages
            }
        },

        mounted() {
            this.fetchAccount();
            this.fetchMessages();
            this.connect();

        },
        created() {

        },

        methods: {
            connect() {
                this.socket = new WebSocket("ws://localhost:9000/chat", 'ws');
                this.socket.onopen = () => {
                    this.socket.onmessage = ({data}) => {
                        this.messages.push({ event: "Recieved message", data });
                    };
                };
            },

            fetchAccount() {
                return this.$store.dispatch('fetchMyAccount');
            },
            fetchMessages() {
                return this.$store.dispatch("fetchMessages")
            },
            sendMessage() {
                this.socket.send(this.message);
                return this.$store.commit("addMessage", this.message)
            },

            logout() {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/signIn');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
